body #nav li.dontdrop.active a, body #nav li.dontdrop:hover a {
	color: #ffffff;
}

body #nav li.dontdrop a {
	background: none;
	color: #646464;
	height: 0;
	padding: 15px 1em;
}

body #nav li.dontdrop {
	padding: 0;
	height: auto;
}