#nav > ul > li.dontdrop a {
	padding: 0;
}

#nav > ul > li.dontdrop a:hover {
    background: none;
    border-color: transparent;
    color: #555555;
    text-shadow: none;
}

#nav > ul > li.dontdrop.active a {
	color: #fff;
}